# DigitalOcean API token
linode_token = "your_token"
# Admin password to access Rancher
admin_password = "admin"
# Name of custom cluster that will be created
cluster_name = "quickstart"
# Resources will be prefixed with this to avoid clashing names
prefix = "myname"
# rancher/rancher image tag to use
rancher_version = "latest"
# Region where resources should be created
region = "ap-southeast"
# Docker version of host running `rancher/rancher`
docker_version_server = "19.03"
# Linode Instance size
size = "g6-standard-1"
# If this is not specified, you will get an email with the root password
ssh_keys = []
